<div class="message-container"></div>

<div class="content-container">

  {{^computed}}
    {{>loading}}
  {{/computed}}

  <h3>Today</h3>

  {{#sectionToday.avgTempDiff}}
    <p>Today is about {{ Math.round(sectionToday.avgTempDiff * 100) / 100 }}&deg;F different than the normal {{ sectionToday.days.0.navg }}&deg;F.</p>
  {{/sectionToday.avgTempDiff}}

  <h3>Last week</h3>

  {{#sectionWeek.avgTempDiff}}
    <p>This past week (7 days) is about {{ Math.round(sectionWeek.totalTempDiff * 100) / 100 }}&deg;F degrees colder than the average in total and about {{ Math.round(sectionWeek.avgTempDiff * 100) / 100 }}&deg;F colder on average each day.</p>

    <div class="chart chart-section-week"></div>
  {{/sectionWeek.avgTempDiff}}

  <h3>Last month</h3>

  {{#sectionMonth.avgTempDiff}}
    <p>This past month (30 days) is about {{ Math.round(sectionMonth.totalTempDiff * 100) / 100 }}&deg;F degrees colder than the average in total and about {{ Math.round(sectionMonth.avgTempDiff * 100) / 100 }}&deg;F colder on average each day.</p>

    <div class="chart chart-section-month"></div>
  {{/sectionMonth.avgTempDiff}}

  <h3>This season</h3>

  {{#sectionSeason.avgTempDiff}}
    <p>This past month (30 days) is about {{ Math.round(sectionSeason.totalTempDiff * 100) / 100 }}&deg;F degrees colder than the average in total and about {{ Math.round(sectionSeason.avgTempDiff * 100) / 100 }}&deg;F colder on average each day.</p>

    <div class="chart chart-section-season"></div>
  {{/sectionSeason.avgTempDiff}}

</div>

<div class="footnote-container">
  <div class="footnote">
    <p>Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-climate" target="_blank">Github</a>.</p>

  </div>
</div>
