/**
 * Main styles for: minnpost-climate
 *
 * Make the default styles for a 960px wide screen.  A mobile
 * first approach is fine, but starting with a 960px wide
 * screen means that older browsers that do not support
 * media queries will be fine as they are all desktop browsers.
 */


body .node-unpublished {
  background-repeat: no-repeat;
}

.interactive-container  {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
}

.minnpost-climate-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
  font-family: $sans-serif-font;


  .clear {
    clear: both;
  }
  .hidden {
    display: none;
  }

  /* Clearfix from http://nicolasgallagher.com/micro-clearfix-hack/ */
  .cf:before,
  .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .cf:after {
    clear: both;
  }
  .cf {
    *zoom: 1;
  }

  .footnote {
    font-size: .75em;
    font-style: italic;
    color: #414141;
    margin-top: 3em;
    border-top: 1px solid #BCBCBC;
    padding-top: 1em;
  }

  .loading {
    width: 100%;
    text-align: center;
    padding: 2em 2em;
    color: #ABABAB;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;

    span {
      padding: 10px 5px 10px 40px;
      background: transparent $loader-image center left no-repeat;
      vertical-align: middle;
      height: 100%;
      line-height: 100%;
    }
  }

  .not-today {
    text-align: center;
    color: #434343;
    font-family: $sans-serif-font-other;
    font-size: 1.5em;
    margin: 1em 0 1em 0;
  }

  .date-input-form {
    font-size: 1.3em;
    margin-bottom: 2em;
    text-align: center;

    button,
    input.date-input {
      @include inline-block();
      color: #434343;
      border: 1px solid #9e9e9e;
    }

    input.date-input {
      text-align: left;
      padding: .25em .5em;
      vertical-align: middle;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    }

    button {
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      background-color: #FFFFFF;
      line-height: 2.6em;
      white-space: nowrap;
      padding: .25em 1em;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;

      &[disabled],
      &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .65;
        filter: "alpha(opacity=65)";
      }
    }

  }

  .section-section {
    margin-bottom: 3em;

    p {
	    font-size: 1.3em;
	    font-family: $sans-serif-font-other;
	    line-height: 1.5em;
	    color: #434343;
    }
  }

  .chart {
    width: 100%;
    height: 17em;
  }

  // Breakpoints
  @media screen and (max-width: 768px) {
  }
}
